main {
  display: flex;
  flex-direction: column;
}

.modal {
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  text-align: center;
}

.modal > button {
  font-family: Sora;
  background-color: hsl(214, 100%, 55%);
  padding: 12px;
  margin-bottom: 10px;
}

.modal > button:hover {
  background-color: hsl(210, 100%, 65%);
}

.text {
  padding: 20px 0;
  margin-bottom: 80px;
  height: calc(100vh - 250px);
  overflow-x: scroll;
  scrollbar-width: none;
  font-size: 1.8rem;
  word-spacing: 4px;
}

.current-letter {
  background-color: hsl(240, 1%, 59%);
  padding: 1px 2px;
  border-radius: 4px;
}

.correct-letter {
  color: hsl(140, 63%, 57%);
}

.wrong-letter {
  color: hsl(354, 63%, 57%);
  text-decoration: underline;
}

.restart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  border-top: 1px solid hsl(240, 1%, 59%, 0.4);
  background-color: hsl(0, 0%, 7%);
}

main button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: hsl(0, 0%, 15%);
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-family: Sora;
  cursor: pointer;
  align-self: center;
}

main button img {
  width: 14px;
  height: 14px;
}

@media (min-width: 1024px) {
  .restart {
    height: 160px;
    padding: 20px 0 100px;
  }
}
