@import "tailwindcss";

@theme {
  --color-b: hsl(215, 51%, 70%);
  --color-c: hsl(178, 100%, 50%);
  --color-line: hsl(215, 32%, 27%);
}

body {
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  height: 100dvh;
  justify-content: center;
  padding: 20px;
  width: 100%;
  user-select: none;
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }
}
